---
layout: main
---
{% assign sorted_shows = site.shows | sort: 'date' | reverse %}
{% for post in sorted_shows %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
      <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : "cancel.png"}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.netflix-url}}">{{post.title}}</a></h2>
    <p>{{ post.description | strip_html | truncatewords: 30 }} &#x2022; <a style="font-weight:bold;text-decoration: none;" href="{{ post.source-url }}">{{ post.source-name }}</a></p>
    <span class="post-date">Cancelled {{post.date | date: '%b %Y'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{{ post.seasons }} seasons / {{ post.episodes }} episodes</span>
  </div>
</article>
{% endfor %}
